<div class="footercontainer">
    <h1 class="footerheading">Quick Links</h1>

    <ul class="footer-ul">
        <li class="footer-li"><a href="/">Dashboard</a></li>
        <li class="footer-li"><a href="/profile">Your Profile</a></li>
        <li class="footer-li"><a href="/terms">Terms and Conditions</a></li>
        <li class="footer-li"><a href="/privacy">Privacy Policy</a></li>
        <li class="footer-li"><a href="/slides">Digital Picture Frame</a></li>
        <li class="footer-li"><a href="/calculator">Built-in Calculator</a></li>

    </ul>
</div>