<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/design.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Smart Home Application</title>
  </head>
  <body>
    <%- include('Layouts/menu') -%>
    <%- include('Layouts/footer') -%>
  </body>