<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Our Privacy Policy</title>
    <link rel="stylesheet" href="css/design.css" />
  </head>

  <body>
    <%- include('Layouts/menu') -%>
    <main id="faqs">
      <h1>Our Privacy Policy</h1>

      <fieldset id="terms">
        <legend>Here's what you need to know!</legend>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur cursus risus at faucibus. Donec libero arcu, ullamcorper laoreet leo non, suscipit mollis leo. Phasellus felis tellus, fringilla quis dignissim egestas, sagittis eget neque. Quisque turpis quam, tempus quis purus vitae, gravida ornare libero. Ut bibendum erat nisi, in aliquet lorem pulvinar id. Vestibulum enim ante, iaculis et lobortis ut, mattis at sem. Sed ipsum enim, fermentum eget varius nec, commodo sed est. Aenean lobortis, ipsum sit amet porta porta, ante lacus posuere magna, vitae tempor tellus diam ac orci. Aenean pretium quis felis vel fringilla.

          Duis lobortis a ipsum nec vestibulum. Praesent id sodales diam, vel suscipit tellus. Donec elementum sodales urna, sit amet vehicula enim ultricies sed. Fusce blandit lacus lorem, a scelerisque ligula porta eu. Duis sem odio, malesuada in suscipit porta, maximus in justo. Sed ultricies est sed tortor mollis convallis vitae id enim. Cras consectetur eleifend accumsan. Nam volutpat mattis metus scelerisque rutrum.
          
          Vestibulum eros nisi, mollis in velit quis, faucibus cursus mi. Proin malesuada sit amet leo vel dapibus. Curabitur commodo tempor justo, sed malesuada ipsum elementum non. Quisque nec mauris quis lacus feugiat scelerisque nec vel quam. Vivamus ut dui ac mauris iaculis faucibus id non erat. Etiam vulputate nunc eu massa ornare vestibulum. Cras non ullamcorper dolor. Morbi varius diam metus, non congue elit volutpat in. Nulla id turpis vel augue maximus laoreet.
          
          Nulla magna leo, varius eu ipsum quis, semper tincidunt ligula. Cras ut mi ac est feugiat interdum. Maecenas fringilla diam vel felis mattis, a bibendum lectus aliquet. Suspendisse volutpat imperdiet arcu, ac luctus tellus ultricies et. Nam bibendum aliquam ante id aliquet. Nulla posuere cursus eros. Vivamus elementum faucibus nibh, sit amet luctus urna.
          
          Nunc eu justo id ligula ultricies posuere in eget neque. Nullam vestibulum odio pellentesque diam fringilla sollicitudin. Suspendisse ut accumsan dui. Quisque sed arcu sed justo suscipit venenatis aliquam ut purus. Maecenas bibendum sit amet enim in lobortis. Morbi ligula quam, elementum quis aliquam quis, tincidunt ut lectus. Integer tellus nunc, maximus nec metus non, sollicitudin feugiat magna. Morbi efficitur mi ut nisl hendrerit gravida. Vestibulum interdum diam sit amet sagittis sodales. Mauris a lectus sed ligula placerat posuere.
        </p>
        <p><input type="button" id="accept" value="I Accept" /></p>
      </fieldset>
        </p>
      </div>
    </main>
    <%- include('Layouts/footer') -%>
    <script src="js/privacy.js"></script>
  </body>
</html>
