html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: monospace;
    font-size: larger;
    background: #d4e4ec;
    color: #141414;
}


main {
  height: 80vh;
  background-color: #91a9b6;
  border: #73909e;
  border-width: 20px;
  border-style: double;
}

.display-date {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.display-time {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
ul{
  padding-left: 0px;
  margin-bottom: 60px;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  background-color: #73909e;
  color: white;
  text-decoration: none;
  font-size: x-large;
}

link{
  padding-top: 20%;
  padding-bottom: 20%;
  margin-bottom: 20px;
}

a{   
  color: white;
  text-decoration: none;
}
.hidden { display: none; }
fieldset { padding: 1em; }
legend { font-weight: bold; padding: 0.5em; }

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .menu-li {
    float: left;
  }
  
  .menu-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .menu-li a:hover {
    background-color: cornflowerblue;
  }

  .footercontainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(106, 104, 139);
  }

  .footerheading{
    color:white
  }
  
  .footer-li {
    float: left;
  }
  
  .footer-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }